<h1>Editing Topic:</h1>

<form action="/topic/<%= @topic.id %>" method="POST">
  <input type="hidden" name="_method" value="patch">
  <div class="show-topic">
    <textarea class="edit-text" type="text" name="name"><%= @topic.name %></textarea>  
    <textarea class="edit-text" type="text" name="content"><%= @topic.content %></textarea>
  </div> <!-- show-topic -->  
  <input type="submit" value="Update Topic" class="edit-input"> 
</form>

<form method="POST" action="/topic/<%= @topic.id %>">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Topic" class="delete-input">
</form>