<!DOCTYPE html>
<html>
<head>
  <title>NYC Pick-Up Sports</title>
</head>
<body>

  <div class="navigation-bar">
    <p class="home"><a href="/">Home</a></p>
    <p class="login"><a href="/login">Log In</a></p>
  </div> <!-- navigation-bar -->
  <div class="header">
    
  </div> <!-- header -->

</body>
</html>