<!DOCTYPE html>
<html>
<head>
  <title>NYC Pick-Up Sports</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <div class="navigation-bar">
    <a class="home"href="/">Home</a>
    <a class="login" href="/login">Log In</a>
  </div> <!-- navigation-bar -->
  <img src="../img/header.png">
  <%= yield %>
  <div class="footer">
  </div> <!-- footer -->
</body>
</html>