<div class="centering">
  <h1>Sign-up Form</h1>

  <form method="POST" action="/users">
    <input type="text" name="username" placeholder="Username" class="signup-input">
    <input type="password" name="password" placeholder="Password" class="signup-input">
    <input type="number" name="age" placeholder="Age" class="signup-input">
    <input type="text" name="gender" placeholder="M/F" class="signup-input">
    <input type="text" name="location" placeholder="Location" class="signup-input">
    <input type="text" name="avatar" placeholder="Avatar URL" class="signup-input">    
    <input type="submit" value="Sign Up" class="signup-input">
  </form>
</div>