html, body {
  background-image: url("../img/basketball.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  margin: 0px;
  border: 0px;
  font-family: helvetica;
}

h1 {
  font-size: 30px;
  margin: 10px;
}

.navigation-bar, .filters, .footer, .topics, .show-topic, .new-topic, .new-comment {
  background-color: rgba(173,173,173,0.7);
}

.navigation-bar {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.hidden {
  visibility: hidden;
}

.logout, .filter-tag-loc, .filter-tag, .edit-input, .delete-input {
  background: none;
  border: none;
  font-size: 16px;
}

.home, .signup, .login, .filter, .profile, .logout, .edit, .new-topic, .new-comment, .option-hover, .filter-tag, .filter-tag-loc, .edit-input, .delete-input {
  color: #7D7D7D;
  text-decoration: none;
}

.home:hover, .signup:hover, .login:hover, .filter:hover, .profile:hover, .logout:hover, .edit:hover, .new-topic:hover, .new-comment:hover, .option-hover:hover, .filter-tag:hover, .filter-tag-loc:hover, .edit-input:hover, .delete-input:hover {
  font-weight: bolder;
  color: #525252;
}

.home {
  align-self: center;
}

.login , .logout {
  margin-left: 10px;
}

.overall-filters, .logout, .inline-block {
  display: inline-block;
}

.centering, .centering-right {
  width: 94%;
  margin: 10px auto;
}

.centering {
  text-align: center;
}

.centering-right {
  text-align: right;
}

.layout {
  width:100%;
  height: 125px;
  margin-bottom: 0px;
  background-image: url("../img/header.png")
}

.footer {
  position:fixed;
  bottom:0;
  width:100%;
  height:32px;
}

.filters {
  text-align: center;
  padding: 5px;
  margin: 0 0 8px 0;
}

.filter {
  margin: 0 8%;
}

.topics {
  width: 94%;
  margin: 6px auto;
}

.topics:hover {
  transition: all 0.4s;
  box-shadow: 0 -2px #787878, -2px 0px #787878, 0px 2px #787878, 2px 0 #787878;
  width: 95%;
}

.topic {
  color:black;
}

.likes, .date, .topic, .username {
  display: inline-block;
  margin: 5px 0 5px 5px;
}

.likes, .date {
  border-style: solid;
  border-color: white;
  border-width: 1px;
}

.login-input, .signup-input, .edit-input, .delete-input {
  margin: 5px;
  width: 200px;
  height: 30px;
  font-size: 18px;
}

.signup-input, .edit-input {
  display: block;
  margin: 5px 0 20px 42%;
}

.avatar {
  width: 300px;
}

h2 {
  margin: 6px;
}

.show-topic {
  width: 94%;
  height: 100%;
  margin: 10px auto;
  padding: 5px;
}

.show-topic-data {
  margin: 0;
  padding: 5px;
  display: block;
}

li {
  display: inline-block;
  padding: 0 0 5px 5px;
  color: #7D7D7D;
}

textarea {
  display: block;
  width: 94%;
  height: 50px;
  margin: 10px auto;
  resize: none;
}

.edit-text {
  width: 93%;
  height: 200px;
}

.edit-text:first-child {
  height: 40px;
}

.new-comment {
  font-size: 16px;
  border: none;
  padding: 2px;
}


.filter-tag, .edit-input, .delete-input {
  display: block;
  margin: 0 auto;
}

.modal {
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.avatarModal {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 500px;
}