html, body {
  background-color: #E8E8E8;
  margin: 0px;
  border: 0px;
  font-family: helvetica;
}

h1 {
  font-size: 30px;
  margin: 10px;
}

.navigation-bar, .filters, .footer, .topics, .show-topic {
  background-color: #ADADAD;
}

.navigation-bar {
  height: 32px;
}

.hidden {
  visibility: hidden;
}

.home, .register {
  position: absolute;
  top: 7px;
}

.logout {
  position: absolute;
  top: -4px;
  right: 0;
  background: none;
  border: none;
  font-size: 16px;
}

.home, .signup, .login, .filter, .profile, .logout, .edit, .new-topic, .new-comment, .option-hover {
  color: #7D7D7D;
  text-decoration: none;
}

.home:hover, .signup:hover, .login:hover, .filter:hover, .profile:hover, .logout:hover, .edit:hover, .new-topic:hover, .new-comment:hover, .option-hover:hover {
  font-weight: bolder;
  color: #525252;
}

.register {
  right: 7px;
}

.home {
  left: 7px;
}

.profile {
  text-align: right;
  margin-right: 80px;
}

.login , .logout {
  margin-left: 15px;
}

.new-topic {
  text-align: right;
  margin: 5px 5px 5px 84%;
}

.loggedin {
  margin-left: 91%
}

.layout {
  width:100%;
  height: 125px;
  margin-bottom: -3px;
}

.footer {
  position:fixed;
  bottom:0;
  width:100%;
  height:32px;
}

.filters {
  text-align: center;
  padding: 5px;
  margin: 0 0 8px 0;
}

.filter {
  margin: 0 8%;
}

.topics {
  width: 94%;
  margin: 5px auto;
}

.topics:hover {
  transition: all 0.4s;
  box-shadow: 0 -2px #787878, -2px 0px #787878, 0px 2px #787878, 2px 0 #787878;
  width: 95%;
}

.topic {
  color:black;
}

.likes, .date, .topic, .username {
  display: inline-block;
  margin: 5px 0 5px 5px;
}

.likes, .date {
  border-style: solid;
  border-color: white;
  border-width: 1px;
}

.centering {
  width: 94%;
  margin: 10px auto;
  text-align: center;
}

.login-input, .signup-input, .edit-input, .delete-input {
  margin: 5px;
  width: 200px;
  height: 30px;
  font-size: 18px;
}

.signup-input, .edit-input {
  display: block;
  margin: 5px 0 20px 200px;
}

.avatar {
  width: 300px;
}

h2 {
  margin: 6px;
}

.show-topic {
  width: 94%;
  height: 100%;
  margin: 10px auto;
  padding: 5px;
}

.show-topic-data {
  margin: 0;
  padding: 5px;
  display: block;
}

li {
  display: inline-block;
  padding: 0 0 5px 5px;
  color: #7D7D7D;
}

textarea {
  display: block;
  width: 94%;
  height: 50px;
  margin: 10px auto;
  resize: none;
}

.edit-text {
  width: 93%;
  height: 200px;
}

.edit-text:first-child {
  height: 40px;
}

.new-comment {
  font-size: 16px;
  border: none;
  background: none;
  margin-left: 88%;
}